---
---

@import "vendor/bootstrap";

.navbar-green {
  background-color: #45cb14;
  border-color:     rgb(27, 102, 0);
  border:           0px;
  border-radius:    0px;
}

.navbar-green .navbar-brand {
  color: #FFFFFF;
}

.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-green .navbar-nav > li > a {
  color: #D8FFC8;
}

.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

.my-icon {
  color: #45cb14;
  font-size: 11vw;
}

#profile-picture {
  max-width: 100%;
  max-height: 45vh;
}

#short-description ul i {
  color: #45cb14;
  font-size: large;
}

#short-description ul li {
  margin-bottom: 5px;
}

a {
  color: #45cb14;
}

a:hover, a:focus {
  color: rgb(42, 175, 12);
}

.container {
  max-width: 970px;
}

#projects i {
  margin-left: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555;
}

.logo-space {
  text-align: center;
}

#profile-links {
  margin-top: 20px;
  margin-bottom: 20px;
}

#my-navbar-toggle {
  border: 0px;
}

#my-navbar-toggle:hover,
#my-navbar-toggle:focus {
  background-color: rgb(44, 188, 10);
}

#my-navbar-toggle .icon-bar {
  background-color: white;
}

@font-face {
  font-family: fira;
  src: url('/fonts/fira/FiraSansOT-Regular.otf') format('opentype');
}

body {
  font-family: fira;
}

h1, h2, h3, h4, h5, h6 {
  font-family: fira;
}

.my-container {
  margin-top: 80px;
}

.my-status {
  margin-left: 5px;
  margin-bottom: 21px;
}

#main-navigation {
  border: 0px;
  -webkit-box-shadow : 0 0 0;
  -moz-box-shadow    : 0 0 0;
  box-shadow         : 0 0 0;
}
