/*Here be CSS*/
.navbar-green {
  background-color: rgb(42, 158, 0);
  border-color:     rgb(27, 102, 0);
}

.navbar-green .navbar-brand {
  color: #FFFFFF;
}

.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-green .navbar-nav > li > a {
  color: #C8FFB8;
}

.navbar-green .navbar-nav > li > a:hover,
.navbar-green .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

.my-icon {
  color: rgb(42, 158, 0);
  font-size: 12vw;
}

#profile-picture {
  /*height: 60vh;*/
  border-radius: 6px;
  max-width: 100%;
  max-height: 55vh;
}

#short-description ul i {
  color: rgb(42, 158, 0);
}

a {
  color: rgb(42, 158, 0);
}

a:hover, a:focus {
  color: rgb(27, 102, 0);
}