---
layout: default
title: My Talks
---

<h1 class="longofrm__heading">Talks</h1>
<p>
  I like to give talks at numerous occasions. More specifically: conferences, user groups and workshops. In this list
  you'll find talks I gave with the abstract and links to the slides - in general you find most of my slides at <a
    href="https://speakerdeck.com/pragtob" title="Speaker Deck">Speaker Deck</a> and <a
    href="http://www.slideshare.net/PragTob" title="slideshare">Slides (Slideshare)
  </a>.
</p>
{% assign talks = site.data.talks.talks %}
{% for talk in talks %}
  {% include talk.html talk=talk %}
{% endfor %}
