<!--Sort of based on the json resume flat
theme https://github.com/erming/jsonresume-theme-flat-->

{% assign resume = site.data.resume%}
{% assign basics = resume.basics %}
{% assign anonymous = include.anonymous %}

<article class="resume">
  <header id="header" class="section">
    <div class="header">
      <h1>
        {{basics.name}}
        {% if include.pdf %}
        <a href="/tobias_pfeiffer_resume.pdf" title="Download PDF version" target="_blank"><i id="pdf-download"
            class="far fa-file-pdf"></i></a>
        {% endif %}
      </h1>
    </div>
  </header>

  <div class="section">

    <div class="cv-profile-picture">
      <img id="cv-picture" src="images/profile/pivorak_cut.jpg" alt="profile_picture">
    </div>

    <aside class="section-headline">
      <h3>Contact</h3>
    </aside>

    <div class="intro-content">
      <div class="contact">
        <strong>Email</strong>
        <div class="email"><a href="mailto:{{basics.email}}">{{basics.email}}</a></div>
      </div>
      <div class="contact">
        <strong>Phone</strong>
        <div class="phone">{{basics.phone}}</div>
      </div>
      <div class="contact">
        <strong>Website</strong>
        <div class="website">
          <a href="http://{{basics.website}}">{{basics.website}}</a>
        </div>
      </div>
    </div>
  </div>

  <section id="about" class="section">
    <aside class="section-headline">
      <h3>About</h3>
    </aside>
    {% if anonymous %}
    {% assign summary = basics.anonymous_summary %}
    {% else %}
    {% assign summary = basics.summary %}
    {% endif %}
    <div class="section-content">
      <p>{{summary}}</p>
    </div>
  </section>

  <section id="profiles" class="section">
    <aside class="section-headline print-hide">
      <h3>Profiles</h3>
    </aside>
    {% for profile in basics.profiles %}
    <div class="profile">
      <strong class="network">
        {{profile.network}}
      </strong>
      <div class="username">
        <a href="https://{{profile.url}}">{{profile.username}}</a>
      </div>
    </div>
    {% endfor %}
  </section>

  <section id="work" class="section">
    <aside class="section-headline">
      <h3>Work</h3>
    </aside>
    <div class="section-content">
      {% for work in resume.work %}
        {% if anonymous and work.anonymous %}
          {% assign summary = work.anonymous.summary %}
        {% else %}
          {% assign summary = work.summary %}
        {% endif %}
        <div class="full-entry">
          <h4 class="entry-header">
            <span class="institution">
              {% if work.websiteLink %}
                <a href="{{work.websiteLink}}">{{work.company}}</a>
              {% else %}
                {{work.company}}
              {% endif %}
            </span>

            <hr class="divider"/>

            <span class="date">
              {{work.startDate}} — {{work.endDate}}
            </span>
          </h4>

          <div class="position">
            {{work.position}}
          </div>
          <div class="summary">
            <p>{{summary}}</p>
          </div>

        {% include highlights.html highlights=work.highlights %}

        </div>
      {% endfor %}
    </div>
  </section>

  {% if resume.volunteer %}
  <section id="volunteer" class="section">
    <aside class="section-headline">
      <h3>Volunteer</h3>
    </aside>
    <div class="section-content">
      {% for volunteer in resume.volunteer %}
        {% if anonymous and volunteer.anonymous %}
          {% assign organization = volunteer.anonymous.organization %}
          {% assign summary = volunteer.anonymous.summary %}
          {% assign website = volunteer.anonymous.website %}
        {% else %}
          {% assign organization = volunteer.organization %}
          {% assign summary = volunteer.summary %}
          {% assign website = volunteer.website %}
        {% endif %}
        <div class="full-entry">
          <h4 class="entry-header">
            <span class="institution">
              {% if volunteer.websiteLink %}
                <a href="{{volunteer.websiteLink}}">{{organization}}</a>
              {% else %}
                {{organization}}
              {% endif %}
            </span>

            <hr class="divider"/>

            <span class="date">
              {{volunteer.startDate}} — {{volunteer.endDate}}
            </span>
          </h4>
          <div class="position">
            {{volunteer.position}}
          </div>
          <div class="summary">
            <p>{{summary}}</p>
          </div>
          {% include highlights.html highlights=volunteer.highlights %}
        </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}

  {% if resume.education.size > 0 %}
  <section id="education" class="section">
    <aside class="section-headline">
      <h3>Education</h3>
    </aside>
    <div class="section-content">
      {% for education in resume.education %}
      <div class="full-entry education">
        <h4 class="entry-header">
          <span class="institution">{{education.institution}}</span>

          <hr class="divider"/>

          <span class="date">
            {{education.startDate}} — {{education.endDate}}
          </span>
        </h4>
        <div class="area">
          <i class="fa fa-graduation-cap"></i>
          {% if education.studyType %}
          {{education.studyType}} in
          {% endif %}
          {{education.area}}
        </div>
        <div class="row">
          {% include studydetail.html value=education.gpa key="Final Grade" %}
          {% include studydetail.html value=education.specialization key="Specialization" %}
          {% include studydetail.html value=education.thesis key="Thesis" %}
          {% include highlights.html highlights=education.highlights %}
        </div>
      </div>

      <!--Specializationa and highlights-->
      {% endfor %}
    </div>
  </section>
  {% endif %}

  <section id="skills" class="section">
    <aside class="section-headline">
      <h3>Skills</h3>
    </aside>
    <div class="section-content">
      <div class="row">
        {% for skill in resume.skills %}

        <div class="skill">
          <div class="name">
            <h4>{{skill.name}}</h4>
          </div>
          {% if skill.keywords.size > 0 %}
          <ul class="keywords">
            {% for keyword in skill.keywords %}
            <li>{{keyword}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% if modulo == '0' or forloop.last %}
        <!-- </div> -->
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="languages" class="section">
    <aside class="section-headline">
      <h3>Languages</h3>
    </aside>
    <div class="section-content row">
      {% for language in resume.languages %}
      <div class="language-container">
        <div class="language">
          <strong>{{language.language}}</strong>
        </div>
        <div class="fluency">
          {{language.fluency}}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

</article>
