.header {
  @extend .col-sm-10;
  @extend .offset-sm-2;
}

#pdf-download {
  padding-left: 10px;
}

.intro-left {
  @extend .col-sm-8;
  @extend .order-sm-first;
}

.intro-content {
  @extend .col-12;
  @extend .col-sm-6;
}

.cv-profile-picture {
  @extend .col-12;
  @extend .col-sm-3;
  @extend .order-sm-last;
}

#cv-picture {
  @extend .rounded;
  max-height: 30vh;
  max-width: 100%;
}

.section-headline {
  @extend .col-sm-2;
}

.section-content {
  @extend .col-sm-10;
  @extend .row;
}

.profile {
  @extend .col-sm-3;
}

.contact {
  margin-bottom: 5px;
}

.full-entry {
  @extend .col-sm-12;
}


.skill {
  @extend .col-sm-6;
}

.language-container {
  @extend .col-sm-3;
}

.study-detail {
  margin-bottom: 5px;
  @extend .col-sm-12;
}

.study-keyword {
  @extend .col-sm-2;
  padding-left: 7px;
}

.study-value {
  @extend .col-sm-10;
}

body {
  margin-bottom: 100px;
}