.header {
  @extend .col-12;
}

#intro {
  @extend .row;
}

.intro-headline {
  @extend .col-8;
}

.intro-left {
  @extend .col-12;
}

.section-headline {
  @extend .col-12;
}

.section-content {
  @extend .col-12;
}

.profile {
  @extend .col-3;
}

.contact {
  margin-top: 5px;
  @extend .col-3;
}

.skill {
  @extend .col-6;
}

.language-container {
  @extend .col-3;
}

.study-keyword {
  @extend .col-2;
}

.study-value {
  @extend .col-10;
}

.section {
  margin-top: 8px;
  page-break-inside: avoid;
}

.section p {
  margin-bottom: 10px;
}

// "hack" so that it doesn't leave 2/3 of the first page emptym as the work section is pretty long
.section#work {
  page-break-inside: auto;
}

#profiles.section {
  margin-top: 0px;
}
