.resume {
  h1, h2, h3, h4, h5 {
    margin-top: 0px;
  }
}

.section {
  @extend .row;
  margin-top: 30px;
}

.position {
  font-weight: bold;
  margin-bottom: 8px;
}

.entry-header {
  border-top: 1px solid #f4f6f6;
  height: 20px;
  margin-top: 12px;
  margin-bottom: -2px;
  position: relative;
}
.entry-header span,
.entry-header a {
  background: #fff;
  position: absolute;
}
.entry-header .institution {
  padding-right: 20px;
  margin-top: -12px;
}
.entry-header .date {
  font-size: 14px;
  margin-top: -10px;
  padding-left: 20px;
  right: 0;
}

#education .area {
  font-weight: bold;
}

#education .study-type {
  margin-left: 23px;
}

.full-entry {
  margin-top: 20px;
}

.introduction-content, .full-entry {
  page-break-inside: avoid;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}