@import "resume-general";
@import "resume-print-sizes";

a {
  color: #45cb14;
}

.signature {
  @extend .col-xs-5;
  @extend .col-xs-offset-7;
  padding-top: 180px;
}

.signature-text {
  border-top: 1px solid;
}
