.header {
  @extend .col-12;
}

#intro {
  @extend .row;
}

.intro-headline {
  @extend .col-8;
}

.intro-left {
  @extend .col-12
}

#cv-picture {
  @extend .rounded;
  height: 200px;
  position: absolute;
  right: 20px;
  top: 50px;
}

.section-headline {
  @extend .col-12;
}

.section-content {
  @extend .col-12;
}

.profile {
  @extend .col-3;
}

.intro-content {
  @extend .col-12;
  @extend .row;
  padding-right: 20px;
}

.contact {
  margin-top: 5px;
  @extend .col-3;
}

.skill {
  @extend .col-6;
}

.language-container {
  @extend .col-3;
}

.study-keyword {
  @extend .col-2;
}

.study-value {
  @extend .col-10;
}

.section {
  margin-top: 15px;
  page-break-inside: avoid;
}

#about.section {
  @extend .col-10;
  padding-left: 0px;
}

#profiles.section {
  margin-top: 0px;
}