<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="vendor/fontstrap/css/font-awesome-social.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <nav class="navbar navbar-green navbar-fixed-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" id='my-navbar-toggle' class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navigation">
          <ul class="nav navbar-nav">
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/talks.html">Talks</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-container">
      {{ content }}
    </div>
    <script src="vendor/jQuery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="javascript/logo_resize.js"></script>
  </body>
</html>
